body {
  background-color: #252525;
  color: #f0e7d5;
  font-size: 1.2em;
}
a {
  text-decoration: none !important;
}
 /* 
  *
  *Nav 
  *
  */

a.navbar-brand {
  font-size: 1.5em;
}  
.navbar {
  background-color: #353535;
}
@media (min-width: 768px) {
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.navbar-brand, .nav {
  margin: auto;
}
.nav-link {
  color: #d6d6d6;
}
.nav-link:hover, .nav-link.active:hover {
  color: #fff;
}
.nav-link.active {
  color: orange;
}

 /* 
  *
  *Main 
  *
  */

.container {
  padding-top: 90px;
  border: 1px solid black;
  max-width: 900px;
}
.link {
  color: orange;
}
i.smile.icon {
  color: rgb(245, 209, 7);
}
a.link:hover {
  color: rgb(207, 136, 3);
}
.highlight-box {
  color: white;
  border: 1px solid black;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
}
.sub-title {
  color: #d6d6d6;
}
.quote {
  text-align: right;
}
.side-note {
  color: #707070;
  font-size: 0.8em;
}
.code {
  color: rgb(20, 158, 238);
}
 /* Footer */

footer {
   text-align: center;
 }
.contact {
  text-align: center;
}
a.link {
  margin: 0 20px;
}
a > i.icon {
  font-size: 2em;
}