body {
  background-color: #252525;
  color: #f0e7d5;
}

 /* 
  *
  *Nav 
  *
  */

.navbar {
  background-color: #353535;
}
.navbar-brand, .nav {
  margin: auto;
}
.container {
  padding-top: 50px;
  border: 1px solid black;
}
.nav-link {
  color: #d6d6d6;
}
.nav-link:hover, .nav-link.active:hover {
  color: #fff;
}
.nav-link.active {
  color: orange;
}

 /* 
  *
  *Main 
  *
  */

.link {
  color: orange;
}
a.link:hover {
  color: rgb(207, 136, 3);
}
.highlight-box {
  color: white;
  border: 1px solid black;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 5px;
}
.sub-title {
  color: #d6d6d6;
}
.side-note {
  color: #707070;
  font-size: 0.8em;
}
.code {
  color: rgb(46, 255, 140);
}

 /* Footer */

 footer {
   text-align: center;
 }